#
#Thu Oct 29 15:58:04 CET 2020
C\:\\testcase\\test\\pp_daniel_florek.pdf=sec3
C\:\\testcase\\test=sec3
C\:\\testcase\\test\\private_key.pk=sec3
C\:\\testcase=sec1
C\:\\testcase\\test\\test.txt=sec3
C\:\\testcase\\Koala_signed.exe=sec1
C\:\\testcase\\index.html=sec1
C\:\\testcase\\msdia80.dll=sec1
C\:\\testcase\\index_signed.html=sec1
C\:\\testcase\\Koala.exe=sec1
C\:\\testcase\\test\\test_signed.txt=sec3
C\:\\testcase\\test\\public_key.pk=sec3
