#
#Fri Nov 06 22:20:07 CET 2020
C\:\\testcase\\msdia80_signed.dll=1
C\:\\testcase=1
C\:\\testcase\\private_key_signed.pk=1
C\:\\testcase\\Koala_signed.exe=1
C\:\\testcase\\index.html=1
C\:\\testcase\\msdia80.dll=1
C\:\\testcase\\private_key.pk=1
C\:\\testcase\\pp_daniel_florek.pdf=1
C\:\\testcase\\public_key.pk=1
C\:\\testcase\\index_signed.html=1
C\:\\testcase\\Koala.exe=3
C\:\\testcase\\test.txt=1
