#
#Thu Oct 29 08:20:08 CET 2020
C\:\\test\\src=pos4
C\:\\test\\md5sum.txt=pos4
C\:\\test\\out\\test\\test\\sk\\tuke\\model=pos4
C\:\\test\\out\\test\\test\\sk\\tuke\\Podpis$1.class=pos4
C\:\\test\\src\\sk\\tuke\\model\\PrivateKey.java=pos4
C\:\\test\\src\\sk\\tuke\\Podpis.java=pos4
C\:\\testcase\\index.html=pos1
C\:\\test\\src\\sk\\tuke=pos4
C\:\\test\\test.iml=pos4
C\:\\testcase\\msdia80.dll=pos1
C\:\\testcase\\private_key.pk=pos1
C\:\\test\\out\\test\\test=pos4
C\:\\test\\out\\test\\test\\sk\\tuke\\MD5.class=pos4
C\:\\test\\out\\test\\test\\sk\\tuke\\model\\PrivateKey.class=pos4
C\:\\test\\out=pos4
C\:\\test\\README.txt=pos4
C\:\\test\\out\\test=pos4
C\:\\test\\src\\sk\\tuke\\model\\PublicKey.java=pos4
C\:\\test\\out\\test\\test\\sk\\tuke=pos4
C\:\\test\\src\\sk\\tuke\\model\\KeyPair.java=pos4
C\:\\testcase=pos1
C\:\\test\\out\\test\\test\\sk\\tuke\\RSA.class=pos4
C\:\\test\\src\\sk\\tuke\\model=pos4
C\:\\test\\out\\test\\test\\sk\\tuke\\Helper.class=pos4
C\:\\test\\src\\sk\\tuke\\RSA.java=pos4
C\:\\testcase\\Koala_signed.exe=pos1
C\:\\test\\out\\test\\test\\sk=pos4
C\:\\test\\out\\test\\test\\sk\\tuke\\FileOperations.class=pos4
C\:\\test\\src\\sk\\tuke\\FileOperations.java=pos4
C\:\\test\\src\\sk\\tuke\\MD5.java=pos4
C\:\\test\\.idea=pos4
C\:\\test\\.idea\\modules.xml=pos4
C\:\\test\\out\\test\\test\\sk\\tuke\\Podpis.class=pos4
C\:\\testcase\\pp_daniel_florek.pdf=pos1
C\:\\testcase\\test_signed.txt=pos1
C\:\\test\\src\\sk\\tuke\\Helper.java=pos4
C\:\\testcase\\public_key.pk=pos1
C\:\\test=pos4
C\:\\test\\out\\test\\test\\sk\\tuke\\Podpis$Actions.class=pos4
C\:\\test\\src\\sk=pos4
C\:\\test\\out\\test\\test\\sk\\tuke\\model\\KeyPair.class=pos4
C\:\\testcase\\index_signed.html=pos1
C\:\\testcase\\Koala.exe=pos4
C\:\\testcase\\test.txt=pos1
C\:\\test\\out\\test\\test\\sk\\tuke\\model\\PublicKey.class=pos4
C\:\\test\\.idea\\misc.xml=pos4
C\:\\test\\.idea\\workspace.xml=pos4
